{% extends 'AkonoSiteBundle::layout.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <div class="page-headline">Articles</div>
    <div id="main">
        <div id="content">
            {% for article in articles %}
                <div class="post" >
                    <h3 class="post-title"><a href="{{ path('akono_site_articles') }}/{{ article.id }}">{{ article.title }}</a></h3>
                    <h3 class="post-meta">{{ article.postdate|date('d.m.Y') }} / <a href="#">No Comments &#187;</a></h3>
                    <p>
                        {{ article.body }}
                        <a href="{{ path('akono_site_articles') }}/{{ article.id }}" class="more-link">Read Full Article &raquo;</a>
                    </p>
                </div>
                <!--end post-->
                <div class="post-line"></div>
            {% endfor %}

            {% if articles|length > 4 %}
                <ul class="post-navigation">
                    <li><a href="#">&laquo; Older Articles</a></li>
                </ul>
            {% endif %}
        </div>
        <!--end content-->
        <div id="sidebar">
            <div id="hire">
                <h3 class="sidebar-title">Want To Hire Akona?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a class="sidebar-button" href="{{ path('akono_site_contact') }}">Contact Us &raquo;</a> </div>
            <!--end hire-->
            <div id="recent-projects">
                <h3>Recent Projects</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                {% for project in projects %}
                    <div class="portfolio-item"> <a href="{{ path('akono_site_portfolio') }}/{{ project.id }}">
                            <img width="280" height="190" src="images/{{ project.image }}" alt="{{ project.title }}" /></a>
                    </div>
                    <!--end portfolio-item-->
                {% endfor %}
                <a class="sidebar-button" href="{{ path('akono_site_portfolio') }}">All Projects &raquo;</a> </div>
            <!--end recent-projects-->
        </div>
        <!--end sidebar-->
    </div>
    <!--end main-->
{% endblock %}