{% extends 'AkonoSiteBundle::layout.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="page-headline">Contact Us</div>
    <div id="main">
        <div id="contact-details">
            <h3 class="title">Get In Touch</h3>
            <div class="post">
                <p>Please use the form on this page to discuss the possibility of working with us or contact us directly via phone or email.</p>
            </div>
            <h3>Contact Details</h3>
            <h4>Phone: <span>+44 (0) 1234 567 890</span></h4>
            <h4>Fax: <span>+44 (0) 1234 567 890</span></h4>
            <h4>Email: <span>info@akono.com</span></h4>
        </div>
        <!--end contact-details-->
        <div id="contact-form-container">

            {{ form_start(form, {'action': path('akono_site_contact'), 'method': 'POST', 'attr': {'id': 'contact-form'}}) }}
                {{ form_errors(form) }}

                {{ form_widget(form.name, {'attr' : {'id': 'form_name', 'placeholder': 'Name'}}) }}
                {{ form_widget(form.email, {'attr' : {'id': 'form_email', 'placeholder': 'E-mail'}}) }}
                {{ form_widget(form.subject, {'attr' : {'id': 'form_subject', 'placeholder': 'Subject'}}) }}
                {{ form_widget(form.message, {'attr' : {'id': 'form_message', 'placeholder': 'Message'}}) }}

                {{ form_rest(form) }}

            <input id="form_submit" class="submit" type="submit" name="submit" value="Submit &raquo;" />

        </div>
        <!--end contact-form-container-->
    </div>
    <!--end main-->
{% endblock %}