{% extends 'AkonoSiteBundle::layout.html.twig' %}

{% block body %}
    <div class="page-headline">Services</div>
    <div id="main">
        <div id="content">
            <div class="post">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a nibh mauris. Mauris interdum, dolor in vulputate tincidunt, mauris lorem feugiat augue, id tristique lacus est ac purus. </p>

                {% for service in services %}
                    <h3>{{ service.title }}</h3>
                    <p>{{ service.body }}</p>
                    <p><a href="{{ path('akono_site_services') }}/{{ service.id }}">More Details &raquo;</a></p>
                {% endfor %}
            </div>
        </div>
        <!--end content-->
        <div id="sidebar">
            <div id="hire">
                <h3 class="sidebar-title">Want To Hire Akona?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a class="sidebar-button" href="{{ path('akono_site_contact') }}">Contact Us &raquo;</a> </div>
            <!--end hire-->
            <div id="recent-projects">
                <h3>Recent Projects</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>

                {% for project in projects %}
                    <div class="portfolio-item"> <a href="{{ path('akono_site_portfolio') }}/{{ project.id }}">
                            <img width="280" height="190" src="images/{{ project.image }}" alt="{{ project.title }}" /></a>
                    </div>
                    <!--end portfolio-item-->
                {% endfor %}

                <a class="sidebar-button" href="{{ path('akono_site_portfolio') }}">All Projects &raquo;</a> </div>
            <!--end recent-projects-->
        </div>
        <!--end sidebar-->
    </div>
    <!--end main-->
{% endblock %}