<!DOCTYPE html>
<html lang="en">
<head>

    <title>{% block title %}Akono{% endblock %}</title>

    <meta charset="utf-8">
    {% block stylesheets %}
        <link type="text/css" rel="stylesheet" href="{{ asset('styles/style.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('styles/skin.css') }}" />
    {% endblock %}

    {% block javascript %}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.jcarousel.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/initSlider.js') }}"></script>
        <!--[if IE 6]>
        <script src="{{ asset('js/ie6-transparency.js') }}"></script>
        <script>DD_belatedPNG.fix('#header img, #featured-section h2, #circles img, #frontpage-sidebar .read-more, .blue-bullets li, #sidebar .sidebar-button, #project-content .read-more, .more-link, #contact-form .submit, .jcarousel-skin-tango .jcarousel-next-horizontal, .jcarousel-skin-tango .jcarousel-prev-horizontal, #commentform .submit');</script>
    {% endblock %}

    {% block ie %}
        <style>body { behavior: url("{{ asset('styles/ie6-hover-fix.htc') }}"); }</style>
        <link rel="stylesheet" href="{{ asset('styles/ie6.css') }}" />
            <![endif]-->
        <!--[if IE 7]><link rel="stylesheet" href="{{ asset('styles/ie7.css') }}" /><![endif]-->
        <!--[if IE 8]><link rel="stylesheet" href="{{ asset('styles/ie8.css') }}" /><![endif]-->
    {% endblock %}

</head>
<body class="home">
<div id="wrap">
    <div id="header"> <img src="{{ asset('images/logo.png') }}" />
        <div id="nav">
            {% block navigation %}
                <ul class="menu">
                    <li class="current_page_item"><a href="{{ path('akono_site_homepage') }}">Home</a></li>
                    <li><a href="{{ path('akono_site_services') }}">Services</a></li>
                    <li><a href="{{ path('akono_site_portfolio') }}">Portfolio</a></li>
                    <li><a href="{{ path('akono_site_articles') }}">Articles</a></li>
                    <li><a href="{{ path('akono_site_contact') }}">Contact</a></li>
                </ul>
            {% endblock %}
        </div>
        <!--end nav-->
    </div>
    <!--end header-->

    {% block body %}{% endblock %}

    <div id="footer">
        {% block footer %}
            <p class="copyright">Copyright &copy; <a href="#">Domain Name</a> - All Rights Reserved / Design By <a target="_blank" href="http://www.chris-creed.com/">Chris Creed</a></p>
        {% endblock %}
    </div>
    <!--end footer-->
</div>
<!--end wrap-->
</body>
<div class="cache-images"><img src="{{ asset('images/red-button-bg.png') }}" width="0" height="0" alt="" /><img src="images/black-button-bg.png" width="0" height="0" alt="" /></div>
<!--end cache-images-->
</html>